@media(min-width:768px){
    
    .music-mixes-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "head footer"
                             "main main";
        gap: 1rem;
        row-gap: 1.5rem;
        max-height: max-content;
    }
    .music-mixes-container > .view-all{
        border: none;
        padding: 0;
        padding-right: .8rem;
        justify-items: end;
        align-items: end;
        margin: 0;
    }
    

    /*-----SONG CARD-----*/
    .music-mixes-song-cards{
        display: grid;
        grid-area: main;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin-top: unset;
    }
    .card-container .card-text{
        line-height: 1.7rem;
    }

    .music-mixes-song-cards .card-container .card-text p{
        font-size: 1rem;
    }
    .music-mixes-song-cards .card-container .card-text{
        gap: 1rem;
    }




    
}




@media(min-width:1024px){
    #nav-bar{
        display: block;
    }
    .music-mixes-container, .match-your-mood-container, .music-categories-container, .video-section{
        padding: 1rem;
    }
    .music-mixes-song-cards{
        display: grid;
        grid-area: main;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    .music-mixes-song-cards .card-container .card-text{
        gap: 1rem;
    }

        
      .video-cards-wrapper{
        display: grid;
        grid-template-columns: 100%;
        gap: .5rem;
      }



      .video-section-wrapper{
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 1rem;
      }
}