@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/*-----MUSIC MIXES-----*/
.music-mixes-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas: "head"
                         "main"
                         "footer";
    gap: 1.5rem;
    row-gap: 1.5rem;
    max-height: max-content;
    /* padding: .8rem; */
}
.music-mixes-container .music-mixes-heading{
    display: grid;
    grid-area: head;
    padding: 0 .8rem;
}
.music-mixes-container > .view-all{
    display: grid;
    grid-area: footer;
    justify-items: center;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 1rem 0;
}
.music-mixes-container > .view-all a > i{
    margin-left: .3rem;
    color: #6E4DAB;
}
.music-mixes-container > .view-all a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.music-mixes-song-cards{
    display: grid;
    grid-area: main;
    line-height: 1rem;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

/*----STYLING MUSIC MIXES SONG CARDS-----*/


.music-mixes-song-cards{
    margin-top: .5rem;
    padding: 0 .8rem;
}
.card-container:hover .card-text{
    color: #6E4DAB;
}
.card-image {
    height: 170px;
    position: relative;
}
.card-image > img{
    width: 100%;
    height: 100%;
}
.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.85);
    transition: 0.5s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.card-container:hover .overlay{
    opacity: 1;
}
.card-container:hover .overlay > i{
    font-size: 1.8rem;
    color: white;
}
.card-container .card-footer{
    margin-top: .8rem;
}
.card-container .card-footer > span{
    color: #6E4DAB;
    font-weight: bold;
}


.music-mixes-song-cards .card-container > a{
    color: black;
    text-decoration: none;
    line-height: 1.4rem;
}
.music-mixes-song-cards .card-container .card-text{
    margin-top: 1rem;
}
.music-mixes-song-cards .card-container .card-text h4{
    font-size: 1.1rem;
}
.music-mixes-song-cards .card-container .card-text p{
    font-size: .8rem;
    color: #383838;
}



/*-----MATCH YOUR MOOD-----*/
.match-your-mood-container{
    margin-bottom: 2rem;
}
.match-your-mood-heading, .music-categories-heading{
    padding: .8rem;
}
.match-your-mood-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;
    color: white;
    line-height: 1.5rem;
}
.match-your-mood-card .overlay{
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}
.match-your-mood-card:hover .overlay{
    background: rgba(0, 0, 0, 0.85);
}
.match-your-mood-card:hover .overlay > h3{
    color: #6E4DAB;
}